<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/bootstrap.min.css"></link>
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <!-- <table>
        <thead>
            <tr>
                <th th:text="${name}">Name</th>
                <th th:text="${name}">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="prod: ${name}">
                <td th:text="${name}">Oranges</td>
                <td th:text="${name}">0.99</td>
            </tr>
        </tbody>
    </table> -->
</body>
</html>